<% tv_shows = TvShow.all.first(5) %>

<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-thumbs-down"></i>
    <i class="fa fa-thumbs-up"></i>
  </div>

  <div class="tinder--cards">
    <div class="tinder--card">
      <img src=<%= tv_shows[0].poster_url %>>
    </div>
    <div class="tinder--card">
      <img src=<%= tv_shows[1].poster_url %>>
    </div>
    <div class="tinder--card">
      <img src=<%= tv_shows[2].poster_url %>>
    </div>
    <div class="tinder--card">
      <img src=<%= tv_shows[3].poster_url %>>
    </div>
    <div class="tinder--card">
      <img src=<%= tv_shows[4].poster_url %>>
    </div>
  </div>

  <div class="tinder--buttons">
    <button id="unwatched"><i class="fa fa-remove"></i></button>
    <button id="nope"><i class="fa fa-thumbs-up"></i></button>
    <button id="love"><i class="fa fa-thumbs-down"></i></button>
    <button id="superlike"><i class="fa fa-heart"></i></button>
  </div>
</div>

<%= simple_form_for @user, html: { id: "nope-form", class: "d-none" } do |f| %>
  <%# <%= f.input :tv_show_id %>
  <%= f.button :submit %>
<% end %>

<%= simple_form_for @user, html: { id: "love-form", class: "d-none" } do |f| %>
  <%# <%= f.input :tv_show_id %>
  <%= f.button :submit %>
<% end %>
