<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} | Search shows" %>
<% content_for :meta_description, "#{@tv_shows.length} shows on Sitcom" %>
<% content_for :meta_image, cl_image_path("logo.png") %>

<div class="index-global-container-true">
  <div class="search-bar">
      <%= form_tag search_tv_shows_path,class:"simple_form search", autocomplete:"off", method: :get do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"
          %>
          <button name="button" type="submit" class="btn btn-flat" id="search-btn">
            <i class="fa fa-search" id="search-icon"></i>
          </button>
        </div>
      <% end %>
  </div>
  <div class="tab-container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="/search/tv_shows" class="tab-underlined activated">TV shows</a>
    </li>
    <li>
      <a href="/search/users" class="tab-underlined">Community</a>
    </li>
    <li>
      <a href="/search/followings" class="tab-underlined">Followings</a>
    </li>
    <li>
      <a href="/search/followers" class="tab-underlined">Followers</a>
    </li>
  </ul>
  </div>
  <!--
  -->
  <div class="tag-container" data-controller = "tag-selection">
    <%= simple_form_for :filter, method: :get, data: { action: "change->tag-selection#filter" } do |f| %>
      <% if params[:filter].present?
        netflix_checked = params[:filter]['netflix'] == '1'
        amazon_checked = params[:filter]['amazon'] == '1'
        disney_checked = params[:filter]['disney'] == '1'
        ocs_checked = params[:filter]['ocs'] == '1'
        canal_checked = params[:filter]['canal'] == '1'
      else
        false
      end %>
      <%= f.input :netflix, as: :boolean,
                  input_html: { class: "tag-selector", checked: netflix_checked },
                  wrapper_html: { class: "tag-item" } %>
      <%= f.input :amazon, as: :boolean,
                  input_html: { class: "tag-selector", checked: amazon_checked },
                  wrapper_html: { class: "tag-item" } %>
      <%= f.input :disney, as: :boolean,
                  input_html: { class: "tag-selector", checked: disney_checked },
                  wrapper_html: { class: "tag-item" } %>
      <%= f.input :ocs, as: :boolean,
                  input_html: { class: "tag-selector", checked: ocs_checked },
                  wrapper_html: { class: "tag-item" } %>
      <%= f.input :canal, as: :boolean,
                  input_html: { class: "tag-selector", checked: canal_checked },
                  wrapper_html: { class: "tag-item" } %>
      <%= hidden_field_tag :query, params[:query],
                  wrapper_html: { class: "tag-item" } %>
      <%= f.button :submit, class: "d-none" ,data: { tag_selection_target: 'tagbutton' } %>
    <% end %>
  </div>
  <% @tv_shows.each do |tv_show| %>
  <%= link_to tv_show_path(tv_show), class: "list-link" do %>
    <div class="card-purchase mb-2">
      <img src=<%= tv_show.poster_url %>>
      <div class="card-purchase-infos">
        <div class="card-purchase-details">
          <h2><%= tv_show.title %></h2>
        </div>
        <div class="card-purchase-score">
          <p class="px-2"><%= tv_show.imdb_rating %></p>
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
