<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} | Shows" %>
<% content_for :meta_description, "#{@tv_shows.length} shows on Sitcom" %>
<% content_for :meta_image, cl_image_path("logo.png") %>

<div class="container">
  <div class="title-index-page">
  </div>
  <div class="index-global-container-true">
    <div class="title-index-page">
      <h1>What will you watch ?</h1>
    </div>
    <div class="search-bar">
        <%= form_tag search_tv_shows_path,class:"simple_form search", autocomplete:"off", method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search"
            %>
            <button name="button" type="submit" class="btn btn-flat" id="search-btn">
              <i class="fa fa-search" id="search-icon"></i>
            </button>
          </div>
        <% end %>
    </div>
      <%# Follows row %>
    <% if current_user.followings.empty? == false %>
      <div class="recommendation-title">
        People you follow
      </div>
      <div class="index-follows-container">
        <% @follows.each do |follow| %>
          <%= link_to user_path(follow.id) do %>
            <div class="follow-user-container">
              <div class="follow-avatar-container">
                <% if follow.facebook_picture_url.nil? %>
                  <%= image_tag("https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg", class: "avatar-large", style: "object-fit: cover") %>
                <% else %>
                  <%= image_tag(follow.facebook_picture_url, class: "avatar-large", style: "object-fit: cover") %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%# Community rating row %>
    <% if current_user.followings.empty? == false %>
      <div class="recommendation-title">
        Recommendations from followings
      </div>
      <div class="index-cards-container">
        <% shows = @tv_shows.sort_by { |tv_show| tv_show.popularity_score(current_user)*-1 } %>
        <% shows.each do |tv_show| %>
          <% if tv_show.popularity_score(current_user) > 0 %>
            <% if tv_show.feedbacks.where.not(comment: nil).empty? == false %>
              <%= link_to tv_show_path(tv_show) do %>
                <div class="card-tv-show-small">
                  <div class="tv-show-poster">
                    <%= image_tag(tv_show.poster_url) %>
                  </div>
                  <div class="tv-show-infos">
                    <div class="tv-show-title">
                      <%= tv_show.title %>
                    </div>
                    <div class="show-score">
                      <% if tv_show.popularity_score(current_user) == 0 %>
                      <% else %>
                        <p>
                        <%=tv_show.popularity_score(current_user)%>
                        </p>
                        <i class="fa fa-users"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="recommendation-title">
        Recommendations from the community
      </div>
      <div class="index-cards-container">
        <% @tv_shows.each do |tv_show| %>
          <% somme = 0 %>
          <% if tv_show.feedbacks.where.not(comment: nil).empty? == false %>
            <%= link_to tv_show_path(tv_show) do %>
              <div class="card-tv-show-small">
                <div class="tv-show-poster">
                  <%= image_tag(tv_show.poster_url) %>
                </div>
                <div class="tv-show-infos">
                  <div class="tv-show-title">
                    <%= tv_show.title %>
                  </div>
                  <div class="show-score">
                    <% if Feedback.where(tv_show_id: tv_show.id).where.not(comment: nil).empty? == false %>
                      <% Feedback.where(tv_show_id: tv_show.id).where.not(comment: nil).each do |feedback| %>
                        <p><% somme += feedback.rating%></p>
                      <% end %>
                      <%= "#{somme/Feedback.where(tv_show_id: tv_show.id).where.not(comment: nil).count}/5" %>
                      <i class="fa fa-users"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%# Random following liked this row %>

      <% if current_user.followings.count != 0 %>
        <% random_order_follows = current_user.followings.order('RANDOM()') %>
        <% random_followed_user = User.first %>
        <% random_order_follows.each do |following| %>
          <% if following.feedbacks.empty? == false %>
            <% random_followed_user = following %>
          <% end %>
        <% end %>
        <% if random_followed_user.feedbacks.empty? == false %>
          <div class="recommendation-title" id="follow-like-this">
            <% if random_followed_user.facebook_picture_url.nil? == false %>
              <%= link_to user_path(random_followed_user.id) do %>
                <%= "Liked by " %>
                <%= image_tag(random_followed_user.facebook_picture_url, class: "avatar-xsmall", style: "object-fit: cover")   %>
                <%= random_followed_user.first_name %>
              <% end %>
            <% else %>
              <%= link_to user_path(random_followed_user.id) do %>
                <%= "Liked by " %>
                <%= image_tag("https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg", class: "avatar-xsmall", style: "object-fit: cover") %>
                <%= random_followed_user.first_name %>
              <% end %>
            <% end %>
          </div>
          <div class="index-cards-container">
            <% @tv_shows.order(imdb_rating: :desc).each do |tv_show| %>
              <% if current_user.followings.count != 0 %>
                <% if tv_show.feedbacks.where(user_id: random_followed_user.id, status: "Like").empty? == false %>
                  <%= link_to tv_show_path(tv_show) do %>
                    <div class="card-tv-show-small">
                      <div class="tv-show-poster">
                        <%= image_tag(tv_show.poster_url) %>
                      </div>
                      <div class="tv-show-infos">
                        <div class="tv-show-title">
                          <%= tv_show.title %>
                        </div>
                        <div class="show-score">
                          <p>
                            <%= tv_show.imdb_rating %>
                          </p>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <% if tv_show.feedbacks.where(user_id: random_followed_user.id, status: "Superlike").empty? == false %>
                  <%= link_to tv_show_path(tv_show) do %>
                    <div class="card-tv-show-small">
                      <div class="tv-show-poster">
                        <%= image_tag(tv_show.poster_url) %>
                      </div>
                      <div class="tv-show-infos">
                        <div class="tv-show-title">
                          <%= tv_show.title %>
                        </div>
                        <div class="show-score">
                          <p>
                            <%= tv_show.imdb_rating %>
                          </p>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    <%# My wishlist %>
    <% if Wish.where(user_id: current_user).empty? == false %>
      <div class="recommendation-title">
        Your wishlist
      </div>
      <div class="index-cards-container">
        <% @tv_shows_wishlist.order(imdb_rating: :desc).each do |tv_show| %>
          <%= link_to tv_show_path(tv_show) do %>
            <div class="card-tv-show-small">
              <div class="tv-show-poster">
                <%= image_tag(tv_show.poster_url) %>
              </div>
              <div class="tv-show-infos">
                <div class="tv-show-title">
                  <%= tv_show.title %>
                </div>
                <div class="show-score">
                  <p>
                    <%= tv_show.imdb_rating %>
                  </p>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%# Top rated on imdb row %>
    <div class="recommendation-title">
      Top rated on IMDb
    </div>
    <div class="index-cards-container">
      <% @tv_shows.order(imdb_rating: :desc).each do |tv_show| %>
        <%= link_to tv_show_path(tv_show) do %>
          <div class="card-tv-show-small">
            <div class="tv-show-poster">
              <%= image_tag(tv_show.poster_url) %>
            </div>
            <div class="tv-show-infos">
              <div class="tv-show-title">
                <%= tv_show.title %>
              </div>
              <div class="show-score">
                <p>
                  <%= tv_show.imdb_rating %>
                </p>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# Last feedbacks from follows %>
    <% if current_user.followings.empty? == false %>
      <div class="recommendation-title">Last feedbacks</div>
      <div class="carousel">
        <% @last_feedbacks_array.length.times do |i| %>
          <div class="carousel-card">
            <div class="top-container">
              <div class="avatar-picture">
                <%= link_to user_path(@last_feedbacks_array[i][:user].id) do %>
                  <% if @last_feedbacks_array[i][:user].facebook_picture_url %>
                    <%= image_tag(@last_feedbacks_array[i][:user].facebook_picture_url, class: "avatar") %>
                  <% else %>
                    <%= image_tag("https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg", class: "avatar") %>
                  <% end %>
                <% end %>
              </div>
              <div class="username"><%= @last_feedbacks_array[i][:user].first_name + " " + @last_feedbacks_array[i][:user].last_name + " added a feedback to " + @last_feedbacks_array[i][:tv_show].title %></div>
            </div>
            <div class="content-container">
              <div class="carousel-comment">" <%= @last_feedbacks_array[i][:feedback].comment %> "</div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%# Watch now suggestion %>
    <% if current_user.followings.nil? == false %>
      <div>
        <div class="watch-now d-flex flex-column align-items-center my-5">
          <h4 class="py-3 px-3 text-center">No time to find the next TV show to watch?</h4>
          <%= link_to 'Give me a suggest', watch_nows_path, class: "btn btn-ghost play-btn"%>
        </div>
      </div>
    <% end %>

  </div>
</div>
