<div class="container">
  <div class="title-index-page">
  </div>
  <div class="index-global-container-true">
    <div class="title-index-page">
      <h1>What will you watch ?</h1>
    </div>
    <div class="search-bar">
        <%= form_tag tv_shows_path,class:"simple_form search", autocomplete:"off", method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search"
            %>
            <button name="button" type="submit" class="btn btn-flat" id="search-btn">
              <i class="fa fa-search" id="search-icon"></i>
            </button>
          </div>
        <% end %>
    </div>
    <%# Community rating row %>
    <div class="recommendation-title">
      Recommendations from the community
    </div>
    <div class="index-cards-container">
      <% @tv_shows.each do |tv_show| %>
        <% if tv_show.feedbacks.where.not(comment: nil).empty? == false %>
          <%= link_to tv_show_path(tv_show) do %>
            <div class="card-tv-show-small">
              <div class="tv-show-poster">
                <%= image_tag(tv_show.poster_url) %>
              </div>
              <div class="tv-show-infos">
                <div class="tv-show-title">
                  <%= tv_show.title %>
                </div>
                <div class="show-score">
                  <p>
                    <% if Feedback.where(tv_show_id: tv_show.id).where.not(comment: nil).empty? %>
                      <%= "?/10" %>
                    <% else %>
                      <% somme = 0 %>
                      <% Feedback.where(tv_show_id: tv_show.id).where.not(comment: nil).each do |feedback| %>
                        <% somme += feedback.rating%>
                      <% end %>
                      <%= "#{somme/Feedback.where(tv_show_id: tv_show.id).where.not(comment: nil).count}/10" %>
                    <% end %>
                    </p>
                  <i class="fa fa-users"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%# Top rated on imdb row %>
    <div class="recommendation-title">
      Top rated on IMDb
    </div>
    <div class="index-cards-container">
      <% @tv_shows.order(imdb_rating: :desc).each do |tv_show| %>
        <%= link_to tv_show_path(tv_show) do %>
          <div class="card-tv-show-small">
            <div class="tv-show-poster">
              <%= image_tag(tv_show.poster_url) %>
            </div>
            <div class="tv-show-infos">
              <div class="tv-show-title">
                <%= tv_show.title %>
              </div>
              <div class="show-score">
                <p>
                  <%= tv_show.imdb_rating %>
                </p>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# Random user liked this row %>
    <div class="recommendation-title" id="follow-like-this">
      <% random_followed_user = current_user.followings.order('RANDOM()').first %>
      <%= link_to user_path(random_followed_user.id) do %>
        <%= "Liked by #{random_followed_user.first_name}" %>
      <% end %>
    </div>
    <div class="index-cards-container">
      <% @tv_shows.order(imdb_rating: :desc).each do |tv_show| %>
        <% if tv_show.feedbacks.where(user_id: random_followed_user.id).empty? == false %>
          <%= link_to tv_show_path(tv_show) do %>
            <div class="card-tv-show-small">
              <div class="tv-show-poster">
                <%= image_tag(tv_show.poster_url) %>
              </div>
              <div class="tv-show-infos">
                <div class="tv-show-title">
                  <%= tv_show.title %>
                </div>
                <div class="show-score">
                  <p>
                    <%= tv_show.imdb_rating %>
                  </p>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%# Follows row %>
    <div class="recommendation-title">
      You are following these people
    </div>
    <div class="index-follows-container">
      <% @follows.each do |follow| %>
        <%= link_to user_path(follow.id) do %>
          <div class="follow-user-container">
            <div class="follow-avatar-container">
              <% if follow.facebook_picture_url.nil? %>
                <%= image_tag("https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg", class: "avatar") %>
              <% else %>
                <%= image_tag(follow.facebook_picture_url, class: "avatar") %>
              <% end %>
            </div>
            <div class="follow-names-container">
              <%= "#{follow.first_name}" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
