<div class="global-container">
  <div class="tv-show-top-container" style="background-image: linear-gradient(rgba(15, 18, 22, 0), rgba(39, 42, 48, 0.9)),url('<%= @tv_show.poster_url %>');">
    <div class="tv-show-main-infos-container">
      <div class="title">
        <%= @tv_show.title %>
      </div>
      <div class="infos">
        <%= @tv_show.language %> |
        <%= @tv_show.genre %> |
        <%= pluralize(@tv_show.seasons_count, "season") %> |
        Directed by <%= @tv_show.director %>
      </div>
    </div>
    <div class="like-interactions-container">
      <a class="btn-interaction" href="#"><i class="fa fa-thumbs-up"></i></a>
      <a class="btn-interaction" href="#"><i class="fa fa-thumbs-down"></i></a>
      <a class="btn-interaction-superlike" href="#"><i class="fa fa-heart"></i></a>
    </div>
  </div>
  <div class="community-infos-container">
    <div class="watched-by-users">
    </div>
    <div class="scores-number">
      <span><%= @tv_show.imdb_rating %></span>
      <span><%= @feedbacks_number %></span>
    </div>
    <div class="scores-text">
      <span>Rating</span>
      <span>
        <% if @feedbacks_number == 0 %>
          <%= "Feedbacks" %>
        <% elsif @feedbacks_number == 1 %>
          <%= "Feedback" %>
        <% else %>
          <%= "Feedbacks" %>
        <% end %>
      </span>
    </div>
    <div class="bottom-border-div"></div>
  </div>
  <div class="tv-show-infos-container">
    <div class="description">
      <%= @tv_show.description %>
    </div>
    <div class="platforms-infos-container">
        <span>Available on</span>
        <div class="platform-logos">
          <% if @tv_show.netflix == true %>
            <%= image_tag("https://logos-marques.com/wp-content/uploads/2021/03/Netflix-logo.png", class:"platform-logo") %>
          <% elsif @tv_show.amazon == true %>
            <%= image_tag("https://logodownload.org/wp-content/uploads/2018/07/prime-video-1.png", class:"platform-logo") %>
          <% elsif @tv_show.disney == true %>
            <%= image_tag("https://logodownload.org/wp-content/uploads/2020/11/disney-plus-logo-1.png", class:"platform-logo") %>
          <% elsif @tv_show.ocs == true %>
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/3/31/OCS_logo.png", class:"platform-logo") %>
          <% else %>
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Canal%2B.svg/2560px-Canal%2B.svg.png", class:"platform-logo") %>
          <% end %>
        </div>
    </div>
    <div class="bottom-border-div"></div>
  </div>
  <div class="main-reviews-container">
    <div class="title">Reviews</div>
    <div class="community-reviews">
    </div>
    <div class="add-feedback">
    </div>
  </div>
</div>
