<div class="calque">
<div class="form-container-edit">
<%= simple_form_for [@user] do |f| %>
<%= f.input :first_name  %>
<br>
<%= f.input :last_name %>
<br>
<%= f.input :description %>
<br>
<%= f.button :submit, class:"btn btn-edit"%>
<% end %>
</div>
</div>
