<div class="list">
  <div class="search-bar">
    <%= form_tag tv_shows_path,class:"simple_form search", autocomplete:"off", method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search"
          %>
          <button name="button" type="submit" class="btn btn-flat" id="search-btn">
            <i class="fa fa-search" id="search-icon"></i>
          </button>
      </div>
    <% end %>
  </div>
  <div class="cards-friends">
    <% @users.each do |user| %>
    <div class="card-friends">
      <% if user.facebook_picture_url.nil? %>
      <%= image_tag "avatar3.png"%>
      <% else %> 
        <%= image_tag(user.facebook_picture_url)%>
      <% end %>
        <div class="card-friends-infos">
          <h2><%= user.first_name %> <%= user.last_name %></h2>
          <p><button class="follow-button">Follow</button></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
