



<div>
  <div class="card-user">
    <div>
      <%= image_tag(@user.facebook_picture_url, :class => "avatar-xlarge") %>
    </div>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <div><p>description</p></div>


    <div><p><%= @user.feedbacks.count %></p></div>
    <div><p>watched</p></div>
    <div><%= @following.count %></div>
    <div><p>followings</p></div>
    <div><%= @followers.count %></div>
    <div><p>followers</p></div>

    <div>
      <h4>Activity</h4>
      <% @feedbacks.each do |feedback| %>
        <div>
        <% if feedback.status == "Dislike" %>
          <p><%=  @user.first_name %> <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></p>
        <% elsif feedback.status == "Like" %>
          <p><%=  @user.first_name %>  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>
        <% elsif feedback.status == "Superlike" %>
          <p><%=  @user.first_name %>  <i class="fa fa-heart" aria-hidden="true"></i></p>
        <% end %>
        <p><%= feedback.rating %></p>
        <p><%= feedback.tv_show.title%></p>
        <p><%= feedback.comment %></p>
        </div>
      <% end %>



    </div>

  </div>
</div>
