



<div>
  <div class="card-user">
    <div>
      <%= image_tag(@user.facebook_picture_url, :class => "avatar-xlarge") %>
    </div>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <div><p>description</p></div>


    <div><p><%= @user.feedbacks.count %></p></div>
    <div><p>watched</p></div>
    <div><%= @following.count %></div>
    <div><p>followings</p></div>
    <div><%= @followers.count %></div>
    <div><p>followers</p></div>

    <div>
      <h4>Activity</h4>
      <% @user_activity = @user_id.feedbacks
      case @user_activity
      when @user_activity.

      when

      else

      end %>
      <p><%= @user.first_name %>  has </p>

    </div>

  </div>
</div>
