<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <div id="home-logo">
      <%= link_to tv_shows_path, class:"navbar-brand" do %>
        <%= image_tag "logo.png", class: "logo"%>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <% if !user_signed_in? %>
        <%= link_to "Login", new_user_session_path, class:"dropdown-item" %>
        <%= link_to "Register", new_user_registration_path, class:"dropdown-item" %>
      <% else %>
        <p><i class="fa fa-user"></i><%= link_to "My profil", user_path(current_user), class:"dropdown-item" %></p>
        <p><i class="fa fa-star"></i><%= link_to "WishList", "", class:"dropdown-item" %></p>
        <p><i class="fa fa-users"></i><%= link_to "Friends", search_users_path, class:"dropdown-item" %></p>
        <p><i class="fa fa-sign-out"></i><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"dropdown-item"%></p>
      <% end %>
      </ul>
    </div>
  </div>
</div>
