<div class="container">
  <div class="container_one">
    <%= image_tag "love2.png", class:"love2" %>
      <div class="title">
        <h1>Welcome to Sitcom <i class="fa fa-eye"></i></h1>
      </div>
      <div class="index-global-container">
        <%= link_to 'Login', user_session_path, class: "btn btn-ghost"%>
        <%= link_to 'Sign up', user_session_path, class: "btn btn-ghost"%>
      </div>
  </div>
  <div class="container_two">
    <div class="content">
      <%= image_tag "reviews.png", class:"heart" %>
      <div class="title2">
        <h1>Share a moment with your friends <i class="fa fa-heart-o" aria-hidden="true"></i></h1>
      </div>
    </div>
  </div>
  <div class="all_platfom">
    <div class="title3">
      <h1>Your favourite platforms combined <i class="fa fa-tv"></i></h1>
    </div>
    <div class="card-platform">
      <%= image_tag "netflix.png", class:"chanels"%>
        <div class="card-product-infos">
          <h2> Netflix Tv Shows</h2>
          <%= link_to 'Netflix', tv_shows_path, class: "btn btn-ghost"%>
        </div>
      </div>
      <div class="card-platform2">
        <%= image_tag "prime.png", class:"chanels"%>
          <div class="card-product-infos">
            <h2> Prime Video Tv Shows</h2>
            <%= link_to 'Prime Video', tv_shows_path, class: "btn btn-ghost"%>
          </div>
        </div>
        <div class="card-platform3">
        <%= image_tag "canal.png", class:"chanels"%>
          <div class="card-product-infos">
            <h2> Canal+ Tv Shows</h2>
            <%= link_to 'Canal+', tv_shows_path, class: "btn btn-ghost"%>
          </div>
        </div>
        <div class="card-platform4">
        <%= image_tag "disney.png", class:"chanels"%>
          <div class="card-product-infos">
            <h2> Disney Tv Shows</h2>
            <%= link_to 'Disney', tv_shows_path, class: "btn btn-ghost"%>
          </div>
        </div>
        <div class="card-platform5">
        <%= image_tag "ocs.png", class:"chanels"%>
          <div class="card-product-infos">
            <h2> OCS Tv Shows</h2>
            <%= link_to 'OCS', tv_shows_path, class: "btn btn-ghost"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
