<% users.each do |user| %>
  <div class="card-follows">
    <%=link_to user_path(user) do %>
      <% if user.facebook_picture_url.nil? %>
        <%= image_tag "avatar3.png"%>
      <% else %>
        <%= image_tag(user.facebook_picture_url)%>
      <% end %>

      <div class="card-follows">
        <div class="card-follows-infos">
          <div class="card-follows-description">
            <h2 style = "font-size: 18px"><%= user.first_name %> <%= user.last_name %></h2>
          </div>

          <div class="follow">
            <% origin = origin || request.fullpath %>
            <% if user == current_user %>
            <% elsif current_user.is_following?(user.id) %>
              <%= link_to "Following", unfollow_search_user_path(user.id, origin: origin), method: :post, remote: true, class: "following-button"%>
            <% else %>
              <%= link_to "Follow", follow_search_user_path(user.id, origin: origin), method: :post, remote: true, class: "follow-button" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
