<div>
  <div class="card-friends">
    <%=link_to user_path(user) do %>
    <% if user.facebook_picture_url.nil? %>
      <%= image_tag "avatar3.png"%>
    <% else %>
      <%= image_tag(user.facebook_picture_url)%>
    <% end %>

    <div class="card-friends-infos">
    <div class="card-friends-description">
      <h2><%= user.first_name %> <%= user.last_name %></h2>
    </div>
      <% if current_user.is_following?(user.id) %>
        <%= link_to "Following", unfollow_search_user_path(user.id), method: :post, remote: true, class: "following-button"%>
      <% else %>
        <%= link_to "Follow", follow_search_user_path(user.id), method: :post, remote: true, class: "follow-button" %>
      <% end %>
    </div>
  <%end %>
  </div>

</div>
