<div>
  <div class="card-follows">
    <%=link_to user_path(following) do %>
      <% if following.facebook_picture_url.nil? %>
        <%= image_tag "avatar3.png"%>
      <% else %>
        <%= image_tag(following.facebook_picture_url)%>
      <% end %>
  <div class="card-follows">
      <div class="card-follows-infos">
        <div class="card-follows-description">
          <h2><%= following.first_name %> <%= following.last_name %></h2>
        </div>

        <div class="follow">
          <% if following == current_user %>
          <% elsif current_user.is_following?(following.id) %>
            <%= link_to "Following", unfollow_search_user_path(following.id), method: :post, remote: true, class: "following-button"%>
          <% else %>
            <%= link_to "Follow", follow_search_user_path(following.id), method: :post, remote: true, class: "follow-button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
